.pageControl {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;

  .pageControlButton {
    margin: 0.25em 1em;
    cursor: pointer;

    &.disabled {
      cursor: not-allowed;
    }
  }
}
