@import '../../scss/index.scss';

.movieListControls {
  width: 100%;
  border-bottom: 2px solid $bg-color;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  .filterControl {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    span {
      padding: 0.5em 0.5em 0.5em 0;
      text-transform: uppercase;
    }

    span:hover,
    span.active {
      border-bottom: 3px solid $item-color;
      cursor: pointer;
    }
  }

  .sortControl {
    text-transform: uppercase;
    display: flex;
    flex-flow: row nowrap;
    padding: 0.5em 0;

    &:hover {
      border-bottom: 3px solid $item-color;
    }

    label {
      color: $bg-color;
      margin-right: 0.5em ;
    }
  }
}
