{
  "env": {
    "browser": true,
    "es2021": true,
    "jest": true
  },
  "extends": ["plugin:react/recommended", "standard", "airbnb-base", "plugin:prettier/recommended"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": ["react"],
  "rules": {
    "react/prop-types": 1,
    "import/order": [
      2,
      {
        "groups": ["builtin", "external", "internal"],
        "pathGroups": [
          {
            "pattern": "react",
            "group": "external",
            "position": "before"
          }
        ],
        "newlines-between": "always",
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        }
      }
    ],
    "no-param-reassign": [2, { "props": true, "ignorePropertyModificationsForRegex": ["state"] }],
    "import/no-extraneous-dependencies": 1,
    "import/no-unresolved": [2, { "caseSensitive": false }],
    "no-plusplus": [2, { "allowForLoopAfterthoughts": true }],
    "class-methods-use-this": [2, { "exceptMethods": ["render"] }]
  }
  // "ignorePatterns": "**/*.test.js"
}
