@import '../../scss/index.scss';

.not-found-container {
  padding: 100px;

  .image {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }

  .return-button {
    @include app-button($content-bg-color, $item-color);
    display: block;
    margin: 0 auto;
    border: 1px solid $item-color;
    border-radius: 3px;
    text-transform: uppercase;
  }
}

@media screen and (max-width: $media-width) {
  .not-found-container {
    padding: 100px 0;

    .image {
      max-width: calc(#{$media-width} / 2);
    }

    .return-button {
      width: 100%;
    }
  }
}
