@import '../../scss/index.scss';

.addEditMovieForm {
  display: flex;
  flex-flow: column;

  .title {
    text-transform: uppercase;
    font-size: $fs-large;
    margin-bottom: 1em;
  }

  .buttonContainer {
    display: flex;
    justify-content: flex-end;
    margin-top: 2em;

    .save {
      @include app-button($item-color, $label-color);
      margin-left: 2em;

      &:disabled {
        background-color: $bg-color;
        color: $label-color;
        border: 1px solid $bg-color;
        cursor: not-allowed;
      }
    }

    .reset {
      @include app-button($content-bg-color, $item-color);
      border: 1px solid $item-color;
      border-radius: 3px;
    }
  }
}
