@import '../../scss/index.scss';

.movie-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

@media screen and (min-width: 1200px) {
  .movie-list {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
  }
}
