$font-stack: Helvetica, sans-serif;
$primary-color: #61dafb;
$back-color: #282c34;

body {
  font: 100% $font-stack;
  color: $primary-color;
  background-color: $back-color;
}

.main {
  text-align: center;
  font-size: xx-large;
}
