// Fonts
$font-stack: Helvetica, sans-serif;
$fs-base: 20px;
$fs-large: 2em;
$fs-logo: 1.5em;
$fs-normal: 1em;
$fs-small: 0.75em;

// Colors
$item-color: #f65261;
$footer-color: #424242;
$content-bg-color: #232323;
$bg-color: #555555;
$label-color: #ffffff;
